# build files

build/
node_modules/

# files not needed for build

.deploy/
.devcontainer/
.docker-compose/
.git/
.vscode/
.dockerignore
.gitignore
Dockerfile
Jenkinsfile
LICENSE
README.md

# scanning data

.scannerwork/
coverage/
reports/
